body{
    background-color: rgb(39, 39, 39);
    text-align: center;
}
h1{
    color: whitesmoke;
    font-size: 100px;
}
#box {
    display: grid;
    margin: auto;
    width: 350px;
    height: 350px;
}


.ticbox{
    padding: 25px;
    border-color: whitesmoke;
    border-style: solid;
    width: 33.33%;
    box-sizing: border-box;
    height: 117px;
}

.subbox{
    display: inline-flex;
}

#box0{
    border-width: 0px 10px 10px 0px;
}

#box1{
    border-width: 0px 10px 10px 0px;
}

#box2{
    border-width: 0px 0px 10px 0px;
}
#box3{
    border-width: 0px 10px 10px 0px;
}
#box4{
    border-width: 0px 10px 10px 0px;
}
#box5{
    border-width: 0px 0px 10px 0px;
}
#box6{
    border-width: 0px 10px 0px 0px;
}
#box7{
    border-width: 0px 10px 0px 0px;
}
#box8{
    border-width: 0px 0px 0px 0px;
}

#status{
    color: whitesmoke;
    font-size: 30px;
}

#won{
    margin: 10px;
    color: whitesmoke;
    font-size: 100px;
}

button{
    display: inline;
    font-size: 30px;
    color: rgb(39, 39, 39);
    width: 250px;
    height: 50px;
    border-style: solid;
    border-color: rgb(39, 39, 39);
    border-width: 2px;
}

#buttons{
    display: inline-flex;
    width: 505px;
    margin: auto;
}

#startbtn:hover, #pvp:hover{
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    border-color: whitesmoke;
}

span{
    font-size: 60px;
    color: whitesmoke;
}
